
<body ng-controller="RegistController" style="background-color: #ffa514;">
<div class="imgposition">
  <img src="/logo.png">
</div>
<div class="registration">
  <div class="row">
    <div class="col-md-4">
      <div class="col-md-4">
        <div class="loginpanel">
          <h1 class="login">Registration</h1>
        </div>
        <div class="todo-form">
          <form>
          	<div>
          		<select class="custom-select fa-caret-down input-lg" ng-model="info.domain">
          			<option value="">&raquo; Choose your Domain</option>
  					<option value="Bluehost">&raquo; Bluehost</option>
  					<option value="Ipage">&raquo; Ipage</option>
  					<option value="Hostgator">&raquo; HostGator</option>
  					<option value="Gogaddy">&raquo; GoDaddy</option>
  					<option value="Webcom">&raquo; WebCom</option>
				</select>
          	</div>
          	<div class="form-group">
                <input type="text" class="form-control input-lg" required placeholder="&raquo; Enter your name" ng-model="nameData.text">
                <input type="text" class="form-control input-lg" placeholder="&raquo; Enter your surname" ng-model="surnameData.text" required>
                <input type="text" class="form-control input-lg" placeholder="&raquo; Enter your email" ng-model="emailData.text" required>
            </div>
            <div class="form-group">
                <input type="text" class="form-control input-lg" placeholder="&raquo; Enter username" ng-model="loginData.text" required>
              <div class="form-group">
                <input type="text" class="form-control input-lg" placeholder="&raquo; Enter password" ng-model="passData.text" required>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="button-press">
  <div class="row button-regist">
    <div class="col-md-4">
      <div class="col-md-5">
        <button type="submit" class="button-push" ng-click="createUser()"><a href=""><h1 class="arrow">&rarr;</h1></a></button>
      </div>
    </div>
  </div>
</div>
  <script src="//code.jquery.com/jquery-2.2.4.min.js" type="text/javascript"></script>
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" type="text/javascript"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.6/angular.min.js"></script>
  <script src="javascripts/RouteProvider.js"></script>
</body>